.footer-content-container {
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark-color);
    color: var(--text-light-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-content-container .footer-span{
    padding: 0 2rem 0 0;
}
.footer-content-container .footer-span-xs{
    padding: 0 2rem 0 0;
    font-size: 12px;
}